a{
    text-decoration: none;
}
li{
    list-style: none;
}
.navbar{
    background-color: #f3f3f3;
    display: flex;
}
.navbar .input-group{
    margin-top: 3px;
    width: 400px;
    height: 39px;
}
.navbar-nav .item {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 18px;  
    
}
.navbar-nav  a {
    color: #353434;
}
.dropdown-menu i{
    color: rgb(5, 66, 198);
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}
